[Desktop Entry]
Name=Animage
GenericName=Animage
Comment=photo slideshow
Categories=Utility;
Exec=com.github.Lafydev.animage
Icon=com.github.lafydev.animage
Terminal=false
Type=Application
Keywords=slideshow;Image;
